@{
    Layout=null;
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>签到</title>
    <style>
        blockquote,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0}body{font-family:"Microsoft YaHei",Helvetica,"Hiragino Sans GB",Arial,sans-serif;font-size:13px;line-height:18px;color:#737373;background-color:#fff;margin:10px 13px 10px 13px}table{margin:10px 0 15px 0;border-collapse:collapse}td,th{border:1px solid #ddd;padding:3px 10px}th{padding:5px 10px}a{color:#0069d6}a:hover{color:#0050a3;text-decoration:none}a img{border:none}p{margin-bottom:13px;font-family:"Microsoft YaHei"}h1,h2,h3,h4,h5,h6{color:#404040;line-height:36px}h1{margin-bottom:18px;font-size:30px}h2{font-size:24px}h3{font-size:18px}h4{font-size:16px}h5{font-size:14px}h6{font-size:13px}hr{margin:0 0 19px;border:0;border-bottom:1px solid #ccc}blockquote{padding:13px 13px 21px 15px;margin-bottom:18px;font-family:georgia,serif;font-style:italic}blockquote:before{content:"\201C";font-size:40px;margin-left:-10px;font-family:georgia,serif;color:#eee}blockquote p{font-size:16px;font-weight:300;line-height:18px;margin-bottom:0;font-style:italic}code,pre{font-family:Monaco,Andale Mono,Courier New,monospace}code{background-color:#fee9cc;color:rgba(0,0,0,.75);padding:1px 3px;font-size:12px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}pre{display:block;padding:14px;margin:0 0 18px;line-height:16px;font-size:11px;border:1px solid #d9d9d9;white-space:pre-wrap;word-wrap:break-word}pre code{background-color:#fff;color:#737373;font-size:11px;padding:0}sup{font-size:.83em;vertical-align:super;line-height:0}*{-webkit-print-color-adjust:exact}
    </style>
    <link rel="stylesheet" type="text/css" href="~/css/weui.min.css" />
</head>
<body>
    <form class="weui-cells weui-cells_form" name="fm" method="post">
        <input id="btn" class="weui-btn  weui-btn_primary" type="button" value="确定" disabled="disabled" onclick="signin()" style="margin-bottom:5px" />
        <div class="weui-cell__bd">
            <input class="weui-input" id="TenantId" name="TenantId" readonly="readonly" type="number" />
            <input class="weui-input" id="WorkerCn" name="WorkerCn" readonly="readonly" type="text" />
            <input class="weui-input" id="Lon" name="Lon" readonly="readonly" type="number" />
            <input class="weui-input" id="Lat" name="Lat" readonly="readonly" type="number" />
            <input class="weui-input" id="Accuracy" name="Accuracy" readonly="readonly" type="number" />
        </div>
    </form>
</body>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"> </script>
<script>
    var clickswitch = 0;
    var clickready = false;
    wx.config({
      debug: true,
      appId: '@ViewBag.appId',
      timestamp: @ViewBag.timestamp,
      nonceStr: '@ViewBag.noncestr',
      signature: '@ViewBag.signature',
      jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem',
        'translateVoice',
        'startRecord',
        'stopRecord',
        'onRecordEnd',
        'playVoice',
        'pauseVoice',
        'stopVoice',
        'uploadVoice',
        'downloadVoice',
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'getNetworkType',
        'openLocation',
        'getLocation',
        'hideOptionMenu',
        'showOptionMenu',
        'closeWindow',
        'scanQRCode',
        'chooseWXPay',
        'openProductSpecificView',
        'addCard',
        'chooseCard',
        'openCard'
      ]
    });

    wx.ready( function() {
        clickready = true;
	    document.getElementById("btn").disabled=false;
        clickswitch = 1;
    });

    function signin() {
        if (clickready == false) {
            alert('还未准备好');
            return;
        }
        if (clickswitch == 0) {
            alert('不要重复点击确定');
            return;
        }
        clickswitch = 0;    
        wx.getLocation({
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                    fm.TenantId.value = @ViewBag.tenantId;
                    fm.WorkerCn.value = "@ViewBag.workerCn";
                    fm.Lon.value = res.longitude;
                    fm.Lat.value = res.latitude;
                    fm.Accuracy.value = res.accuracy;
                    document.fm.action = "/WeixinPG/DoSignin";
                    document.fm.submit();
            }
        });
    }
</script>
</html>