@model Tbs.Web.Models.PreWorkersViewModel
<table id="datagrid" title="车组预排人员列表" class="easyui-datagrid" toolbar="#tb"
        fit="true" fitColumns="true" rownumbers="true" singleSelect="true" striped="true" sortName="cn">
    <thead>
        <tr>
            <th field="cn" width="70" align="center">车辆编号</th>
            <th field="license" width="90" align="center">车牌号码</th>
            @for (int i = 1; i <= @Model.RouteRoles.Count; i++)
            {
                var nm = "worker" + @i + "Id";
                <th field=@nm width="120" formatter="workerFormatter">@Model.RouteRoles[i-1].Name</th>
            }
            <th field="_operate" width="70" align="center" formatter="operator">操作</th>
        </tr>
    </thead>
</table>
<div id="tb">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="reload()">刷新</a>
</div>
        
@*弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" buttons="#dlg-buttons" align="center" style="width: 360px; padding: 10px;">
    <form id="fm" method="post" novalidate>
        <table class="edit-tbl">
            <input id="id" type="hidden" name="id" value="0">
            <input id="depotId" type="hidden" name="depotId" value="@Model.DepotId">
            <tr>
                <th><Label for="cn">车辆编号:</Label></th>
                <td><input name="cn" class="easyui-textbox" readonly="readonly" style="width: 100%"></td>
            </tr>
            <tr>
                <th><Label for="license">车牌号码:</Label></th>
                <td><input name="license" class="easyui-textbox" readonly="readonly" style="width: 100%"></td>
            </tr>
            @for (int i = 1; i <= @Model.RouteRoles.Count; i++)
            {
                var nm = "worker" + @i + "Id";
                <tr>
                    <th><label for=@nm>@Model.RouteRoles[i - 1].Name：</label></th>
                    <td><select id=@nm name=@nm class="easyui-combobox" style="width: 100%" /></td>
                </tr>
            }
        </table>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" onclick="save()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlg').dialog('close')">取消</a>
</div>

@section scripts
{
    <script type="text/javascript">
        var depotId;
        var action;
        $(function () {
            depotId = $('#depotId').val();
            abp.services.app.combo.getWorkerItems(depotId).done(function (data) {
                $('#worker1Id').combobox({
                    data: data,
                    valueField: 'id',
                    textField: 'displayText'
                });
                $('#worker2Id').combobox({
                    data: data,
                    valueField: 'id',
                    textField: 'displayText'
                });
                $('#worker3Id').combobox({
                    data: data,
                    valueField: 'id',
                    textField: 'displayText'
                });
                $('#worker4Id').combobox({
                    data: data,
                    valueField: 'id',
                    textField: 'displayText'
                });
                $('#worker5Id').combobox({
                    data: data,
                    valueField: 'id',
                    textField: 'displayText'
                });
                $('#worker6Id').combobox({
                    data: data,
                    valueField: 'id',
                    textField: 'displayText'
                });

                $('#datagrid').datagrid({
                    url: 'PreWorkers/GridData/DepotId=' + depotId
                });
            });
        });

        function relaod () {
            $('#depotId').datagrid('reload');
        }

        function edit(index) {
            var row = $('#datagrid').datagrid('getRows')[index];
            $('#dlg').dialog('open').dialog('setTitle', '编辑');
            $('#fm').form('load', row);
            action = '/UpdateEntity';
        }

        function save() {
            if (!$('#fm').form('validate'))
                return;
            var fd = new FormData(document.getElementById('fm'));         
            abp.ui.setBusy($('#dlg'), sendFdAjax(fd));
        }

        function sendFdAjax(data) {
            return abp.ajax({
                contentType: false,
                processData: false,
                url: 'PreWorkers' + action,
                data: data,
                success: function (data) {
                    abp.notify.info(data.content);
                    $('#dlg').dialog('close');
                    $('#datagrid').datagrid('reload');
                }
            });
        }

        // formatters
        function workerFormatter(val, row, index) {
            if (val) {
                var workers = $('#worker1Id').combobox('getData');
                for (var i = 0; i < workers.length; i++) {
                    if (workers[i].id === val)
                        return workers[i].displayText;
                }
                return val;
            }
        }

        function operator(val, row, index) {
            return '<a href="javascript:void(0)" class="easyui-linkbutton" onclick="edit(' + index + ')">编辑</a>';
        }
    </script>
}
